@model PagingList.Query

<h3>Paging</h3>

<div class="my-4 text-muted fst-italic">
    Showing @Model.CountShowing of @Model.CountTotal. This is page @Model.Page of @Model.Pages with @Model.PageSize results per page
</div>

<miru-table for="Results" class="table table-striped table-hover">
    <thead>
    <tr>
        <miru-th for="Results[0].ProductName" />
        <miru-th for="Results[0].ProductPrice" />
    </tr>
    </thead>
    <tbody>

    @for (var i = 0; i < Model.Results.Count; i++)
    {
        <tr>
            <miru-td for="Results[i].ProductName" />
            <miru-td for="Results[i].ProductPrice" />
        </tr>
    }

    </tbody>
</miru-table>

<div miru-if="@Model.HasPagination()" class="my-4">
    <nav aria-label="page navigation">
        <ul class="pagination">
            
            <li miru-if="@Model.HasPreviousPage()" class="page-item">
                <a class="page-link" href="@Url.Build(Model).FirstPage()">First</a>
            </li>
            
            <li miru-if="@Model.HasPreviousPage()">
                <a class="page-link" href="@Url.Build(Model).PreviousPage()">Previous</a>
            </li>
            
            @foreach (var page in Model.Pager().Pages)
            {
                <li class="page-item @(Model.Page.Equals(page).IfTrueThen("active"))">
                    <a class="page-link" href="@Url.Build(Model).Page(page)">@(page)</a>
                </li>
            }
            
            <li miru-if="@Model.HasNextPage()" class="page-item">
                <a class="page-link" href="@Url.Build(Model).NextPage()">Next</a>
            </li>
            
            <li miru-if="@Model.HasNextPage()" class="page-item">
                <a class="page-link" href="@Url.Build(Model).LastPage()">Last</a>
            </li>
            
        </ul>
    </nav>
</div>