@model TopupList.Query

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Topups
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12 mb-4">

                        <div class="btn-group" role="group">
                            <button id="filter-providers" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Provider: <span class="font-italic">@Model.ProviderFilter</span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="filter-providers">

                                <a class="dropdown-item" href="@(Url.Build(Model).Without(m => m.ProviderId))">All</a>

                                @foreach (var provider in Model.Providers)
                                {
                                    <a class="dropdown-item" href="@(Url.Build(Model).With(m => m.ProviderId, provider.Id))">@provider.Name</a>
                                }

                            </div>
                        </div>

                        <div class="btn-group" role="group">

                            <button id="filter-status" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Status: <span class="font-italic">@Model.StatusFilter</span>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="filter-status">

                                <a class="dropdown-item" href="@(Url.Build(Model).Without(m => m.Status))">All</a>

                                @foreach (var status in Model.Statuses)
                                {
                                    <a class="dropdown-item" href="@(Url.Build(Model).With(m => m.Status, status))">@status</a>
                                }

                            </div>
                        </div>

                        <a for="@(new TopupList.Query())" class="float-right">Clear filter</a>
                    </div>
                </div>

                <div miru-if-empty="@Model.Results" class="alert alert-warning">No Topup found</div>
                
                <miru-table for="Results" class="table table-striped">
                    <thead>
                        <tr>
                            <miru-th for="Results[0].User.Name" />
                            <miru-th for="Results[0].Provider" />
                            <miru-th for="Results[0].PhoneNumber" />
                            <miru-th for="Results[0].Amount" />
                            <miru-th for="Results[0].CreatedAt" />
                            <miru-th for="Results[0].Status" />
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 0; }
                        @foreach (var item in Model.Results)
                        {
                            <tr>
                                <miru-td for="Results[i].User.Email" />
                                <miru-td for="Results[i].PhoneNumber" />
                                <miru-td for="Results[i].Provider.Name" />
                                <miru-td for="Results[i].Amount" />
                                <miru-td for="Results[i].CreatedAt" />
                                <miru-td for="Results[i].Status" />
                            </tr>
                            i++;
                        }    
                    </tbody>
                </miru-table>
                
                <nav aria-label="Pagination" miru-if="@Model.HasPagination()">
                  <ul class="pagination justify-content-center">
                  
                    <li miru-if="@Model.HasPreviousPage()" class="page-item">
                        <a class="page-link" href="@Url.Build(Model).PreviousPage()" tabindex="-1">← Previous</a>
                    </li>
                    
                    <li miru-if="@Model.HasNextPage()" class="page-item">
                      <a class="page-link" href="@Url.Build(Model).NextPage()">Next →</a>
                    </li>
                      
                  </ul>
                </nav>
           
            </div>
        </div>
    </div>
</div>