@using Supportreon.Features.Donations
@model ProjectShow.Result

<div class="row justify-content-center">
    <div class="col-md-8">
        <h3>
            <miru-display for="@Model.Project.Name"/>
        </h3>

        <div id="project-by" class="text-secondary">
            Created by
            <a href="#"><miru-display for="Project.User.Name"/></a>
            at
            @* FIXME: Use HtmlConventions *@
            @Model.Project.CreatedAt.Humanize()
        </div>

        <div class="mt-4">
            <miru-display for="@Model.Project.Description"/>
        </div>

        <div class="mt-5">
            <h5>Last Donations</h5>

            <div miru-if="@(Model.Project.TotalDonations == 0)" class="mt-4 alert alert-warning">
                No donations yet
            </div>

            <div miru-if="@(Model.Project.TotalDonations > 0)">
                @for (var i = 0; i < Model.LastDonations.Count; i++)
                {
                    <div class="mt-3">
                        <a href="#">
                            <miru-display for="LastDonations[i].User.Name"/>
                        </a> donated
                        <strong>
                            <miru-display for="LastDonations[i].Amount"/>
                        </strong>
                    </div>
                }
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light">
            <div class="card-body">
                <h4>Donation</h4>

                <div miru-if="@Model.Project.IsActive" id="donate-panel">
                    <p>
                        Minimum donation:
                        <mark>
                            <miru-display for="@Model.Project.MinimumDonation"/>
                        </mark>
                    </p>

                    <a for="@(new DonationNew.Query {ProjectId = Model.Project.Id})">
                        <button class="btn btn-success">Donate</button>
                    </a>
                </div>

                <div miru-if="@(Model.Project.IsActive == false)" class="alert alert-warning">
                    This project has ended receiving donations in <miru-display for="Project.EndDate"/>
                </div>

                <div miru-if="@(Model.Project.TotalDonations > 0)" class="mt-4 alert alert-info">
                    Total of
                    <strong>
                        <miru-display for="Project.TotalAmount"/>
                    </strong>
                    from
                    <strong>
                        <miru-display for="Project.TotalDonations"/>
                    </strong> donations
                </div>

                <div miru-if="@(Model.Project.UserId == UserSession.CurrentUserId && Model.Project.IsActive)" class="mt-4">
                    <h4>Owner Options</h4>

                    <div class="mt-2">
                        <a for="@(new ProjectEdit.Query {Id = Model.Project.Id})">
                            Edit Project
                        </a>
                    </div>

                    <div class="mt-2">
                        <a for="@(new ProjectEnd.Query {Id = Model.Project.Id})" class="text-danger">
                            End Project
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>