@using Mong.Features.Topups
@using Mong.Features.Accounts
@using Mong.Features.Admin
@using Mong.Features.Password

<nav class="navbar navbar-expand-md navbar-light navbar-miru">

    <a class="navbar-brand" href="@Url.Content("/")">@App.Name</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapsible" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbar-collapsible">

        <!-- Left Side Of Navbar -->
        <div class="nav-item mr-auto mt-2 mt-lg-0">
            <a class="nav-link" for="@(new TopupNew.Query())">New Topup!</a>
        </div>

        <!-- Right Side Of Navbar -->
        @if (UserSession.IsAnonymous)
        {
            <div class="nav-item">
                <a class="nav-link" href="@(Url.Build<AccountLogin.Query>())">Login</a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="@(Url.Build<AccountRegister.Command>())">Register</a>
            </div>
        }
        else
        {
            <div class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @UserSession.Display <span class="caret"></span>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                    @if (await Can<AdminIndex>())
                    {
                        <a class="dropdown-item" href="@(Url.Build<AdminIndex.Query>())">Admin</a>

                        <div class="dropdown-divider"></div>
                    }

                    <a class="dropdown-item" href="@(Url.Build<TopupList.Query>())">
                        Your Topups
                    </a>
                    
                    <a class="dropdown-item" href="@(Url.Build<PasswordEdit.Command>())">
                        Change Password
                    </a>

                    <a for="@(new AccountLogout.Command())" 
                       class="dropdown-item"  
                       data-remote="true"
                       data-method="post">
                        Logout
                    </a>

                </div>

            </div>
        }
    </div>

</nav>