@using Mong.Features.Admin.Users
@using Mong.Features.Admin.Topups
@model Mong.Features.Admin.AdminIndex.Result

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <p><a href="@(Url.Build<UserList.Query>())">Manage Users</a></p>
                        <p><a href="@(Url.Build<TopupList.Query>())">Manage Topups</a></p>
                    </div>
                    <div class="col-md-8">
                        <h3>Topups Overview</h3>

                        <table class="table">
                            <tr>
                                <th></th>
                                <th>Total</th>
                                <th>Last Period</th>
                            </tr>
                            <tr>
                                <td>This Week</td>
                                <td>@Model.TotalThisWeek</td>
                                <td>@Model.TotalLastWeek</td>
                            </tr>
                            <tr>
                                <td>This Month</td>
                                <td>@Model.TotalThisMonth</td>
                                <td>@Model.TotalLastMonth</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>