@model IterationShow.Result

@{
    var achievementsPerArea = Model.Iteration.GetAchievementsPerArea();
}

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <h3>Iteration #@Model.Iteration.Id</h3>

                <p>
                    <a href="@Url.For(new IterationList())">← Back to Iterations</a>
                </p>

                <div id="iteration">

                    <div id="iteration-achievement" class="alert alert-info lead">
                        <md for="Iteration.PercentAchieved"/> of goals achieved
                    </div>

                    <div id="iteration-detail">
                        Started at <md for="Iteration.CreatedAt"/> and finished 
                        at <md for="Iteration.UpdatedAt" />
                    </div>

                    <div id="iteration-achievements">

                        @foreach (var area in achievementsPerArea)
                        {
                            <h5>@area.Area.Name • <md for="@area.PercentAchieved"/></h5>

                            <ul>
                                @foreach (var achievement in area.Achievements.OrderByDescending(a => a.Achieved))
                                {
                                    <li class="@(achievement.Achieved ? "achieved" : "")">@achievement.Goal.Name</li>
                                }
                            </ul>
                        }

                    </div>

                    @* @Html.Partial("Index", Model)*@

                </div>

                @*<h2>Iteration #@Model.Id</h2>

<div id="iteration">
    
    <div id="iteration-achievement" class="flash info">
        @Model.PercentAchieved of goals achieved
    </div>

    <div id="iteration-detail">
        Started at @Model.CreatedAt and finished at @Model.UpdatedAt (13 days)
    </div>
    
    <div id="iteration-areas">
        <ul>
            @foreach (var area in Model.Areas)
            {
                <li>@area.Name @area.PercentAchieved</li>
            }           
        </ul>
    </div>
    
    <div id="iteration-achievements">
        
        @foreach (var area in Model.Areas)
        {
            <h3>@area.Name</h3>

            <ul>
                @foreach (var goal in area.Achievements)
                {
                    <li class="@(goal.Achieved ? "achieved" : "")">@goal.GoalName</li>
                }  
            </ul>
        }

    </div>

</div>*@


            </div>
        </div>
    </div>
</div>