@using Supportreon.Features.Projects
@model DonationNew.Result

<turbo-stream action="replace" target="@Naming.Form(Model)">
    <template>
        <div class="alert alert-success">
            Thank you for your donation to @Model.Project.Name!
        </div>

        <div>
            <h5>What would you like to do now?</h5>
        </div>

        <div>
            <p>
                <a for="@(new ProjectShow.Query {Id = Model.Project.Id})">
                    Return to @Model.Project.Name page
                </a>
            </p>
            <p>
                <a for="@(new ProjectList())">Browse other Projects</a>
            </p>
            <p>
                <a for="@(new ProjectNew())">Create your own Project</a>
            </p>
        </div>
    </template>
</turbo-stream>