@model TeamEdit.Command

<div class="row justify-content-center">
    <div class="col-md-8">

        <h3>@(Model.Id == 0 ? "New" : "Edit") Team</h3>
        
        <miru-form class="my-4">

            <miru-summary />

            <miru-input for="Id" />

            <div class="my-4">
                <miru-label for="Name"/>
                <miru-input for="Name"/>
                <miru-validation for="Name"/>
            </div>

            <div class="my-4">
                <miru-submit value="Save" class="me-3"/>
                <a for="@(new TeamList())">Cancel</a>
                
                <div miru-if="@(Model.Id > 0)" class="float-end">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#team-delete-modal">
                        Delete
                    </button>
                </div>
            </div>
            
        </miru-form>
    
    </div>
</div>

<div miru-if="@(Model.Id > 0)" class="modal fade" id="team-delete-modal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="team-delete-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="team-delete-title">Delete Team</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    Do you confirm deleting the team <strong>@Model.Name</strong>?
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" data-bs-dismiss="modal" class="me-2">Cancel</a>
                <miru-form model="@(new TeamDelete.Command { Id = Model.Id })">
                    <miru-submit class="btn btn-danger" value="Delete" />
                </miru-form>
            </div>
        </div>
    </div>
</div>